streamlit==1.20.0
pandas==1.5.3
numpy==1.23.5
tensorflow==2.14
seaborn==0.12.2
matplotlib==3.7.1
wordcloud==1.8.2.2
google-api-python-client==2.87.0
googletrans==4.0.0-rc1
nltk==3.8.1
Sastrawi==1.0.1
